html {
    margin: 0;
    padding: 0;

    scroll-snap-type: y proximity;
}

body {
    margin: 0;
    padding: 0;

    background-color: antiquewhite;
    
}

header {
    width: 100%;
    height: 5rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;

    /*scroll-snap-align: start;*/

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    background-color:sandybrown;

    border-bottom: 1px solid gold;

    h1 {
        margin-left: 2rem;
        font-size: 3rem;
    }

    button {
        text-align: center;
        
        margin-right: 2rem;
        padding: 0.3rem;

        box-shadow: 2px 2px ;

        font-size: 1.2rem;
        font-weight: 400;

        border-radius: 4px;
        border: none;

        background-color:chocolate;

        transition: all 0.3s ease-in-out;
    }
    button:hover {
        animation: colorChange 4s infinite;
        font-size: 1.3rem;
        box-shadow: 3px 3px 2px 1px;

        cursor: pointer;
    }
}

@keyframes colorChange {
    0% {
        background-color: rgb(74, 211, 74);
    }
    33% {
        background-color: antiquewhite;
    }
    66% {
        background-color: rgb(238, 69, 69);
    }
    100% {
        background-color: rgb(74, 211, 74);
    }
}

nav {
    width: 100%;
    padding: 0;
    margin: 0;

    position: sticky;
    top: 5rem;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: rgba(250, 235, 215, 0.618);

    overflow: hidden;

    border-bottom: 1px solid gold;
    box-shadow: 0px 0px 100vh rgb(115, 108, 108);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            width: 100%;
            height: 100%;
            padding: 0.5rem 0;

            text-align: center;
            font-size: 1.4rem;
            font-weight: 800;
            font-style: italic;
            letter-spacing: 0.08rem;
            color: rgb(107, 55, 18);

            transition: all 0.2s ease-in-out;
        }
        li:hover {
            color:rgb(237, 176, 132);
            background-color: rgb(107, 55, 18);

            cursor: pointer;
        }
    }
}

.hidden {
    display: none;
}

section {
    scroll-snap-align: center;
    /*Punto di snap più basso per nav*/
    /*padding-top: 7rem !important;*/
}

#gallery {
    display: flex;
    flex-direction: row;

    scroll-snap-align: unset;
    padding-top: 0 !important;

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    width: 100%;
    height: 32rem;

    .gallery-track {
        display: flex;
        flex-direction: row;
        width: 100%;

        transition: none;
        transform: none;
    }

    img {
        max-width: 34rem;
        object-fit: cover;
        image-rendering: optimizeSpeed;
    }

    /*scrollbar solo Firefox*/
    scrollbar-width: thin; 
    scrollbar-color: chocolate antiquewhite; 
}

/*Style della scrollbar, non più utilizzato*/
#gallery::-webkit-scrollbar {
    height: 12px;
    background: antiquewhite;
}
#gallery::-webkit-scrollbar-thumb {
    background: chocolate;
    border-radius: 6px;
    border: 2px solid gold;
}
#gallery::-webkit-scrollbar-track {
    background: antiquewhite;
    border-radius: 6px;
}

.text-img {
    padding: 1rem;
    margin: 3rem 2rem;
    height: 22rem;

    display: flex;

    justify-content: space-between;

    border-radius: 25px;
    border: 1px solid chocolate;

    position: relative;

    div {
        color: antiquewhite;

        h2 {
            font-size: 2.2rem;
            font-weight: 800; 
        }
        p {
            font-size: 1.3rem;
            font-style: italic;
        }
    }

    img {
        border-radius: 25px;
        width: auto;
        filter: brightness(0.8) contrast(1.2); 
    }
}

.text-img::before {
    content: "";
    position: absolute;
    /*shorthand per la posizione in absolute*/
    inset: 0;

    overflow: hidden;
    /*url sfondo*/
    background-size:cover;

    background-color: burlywood;

    filter: blur(3px) brightness(0.7);
    z-index: 0;

    border-radius: 25px;
    /*Nessun blocco click da parte dell'overlay, molto utile*/
    pointer-events: none;
}

.text-img#firstSection::before {
    background-image: url("./images/pattern-1.png");
}
.text-img#secondSection::before {
    background-image: url("./images/pattern-2.png");
}
.text-img#thirdSection::before {
    background-image: url("./images/pattern-3.png");
}

/*Tutti i child sopra al filtro*/
.text-img > * {
    z-index: 1;
}



@media only screen and (max-width: 768px) {
    html{
        font-size: 15px;
    }
}

@media only screen and (max-width: 675px) {
    #gallery {
        height: 20rem;
    }
}


@media only screen and (max-width: 426px) {
    html{
        font-size: 13px;
    }
    #gallery {
        height: 18rem;
    }   
}


